
*{
    margin:0px;
    padding: 0px;
    font-family: "poppins", "sans-serif";
}
.wrapper
{
    overflow-x:hidden;
    overflow-y: auto;
    height: 100vh;
    perspective: 20px;
}
.container{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    transform-style: preserve-3d;
    z-index: -1; 
}
.background{
    transform: translateZ(-40px) scale(4);
   
 }
.background, .foreground{
    position: absolute; 
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.foreground{
    transform: translateZ(-20px) scale(2);
    
}
.text1{
    color: white;
    font-size:10rem;
    /* text-shadow: 1px 1px 3px rgb(102, 89, 89); */
    position: absolute;
    top: 15vh; 
}
section{
    position: relative;
    top: 20vh;
}
.container2{
    background-color: rgb(35, 35,35);
    
}
#head1{
    font-size: 5rem;
    color: white;
    transform: translateX(10vw) translateY(10vh);


}
.para
{
    color: white;
    font-size: 1.2rem;
    padding: 10%;
}

.container3{
    background-color: rgb(35, 35,35);
   
}

.bg{
   
   position: relative;
   padding: 0 35vw;
   background-size: cover;
   background-position: center;
   min-height: 500px;
}
.bg1{
    background-attachment: fixed;
    background-image: url("sport-1.jpg");
    
}
.bg2{
    background-attachment: fixed;
    background-image: url("sport-2.jpg");
    height: 65%;
    object-fit: cover;
}
.bg3{
    background-attachment: fixed;
    background-image: url("sport-3.jpg");
    height: 65%;
    object-fit: cover;
}
.bg span{
    background-color: white;
    font-size: 3rem;
    position: absolute;
    top: 40%;
    padding:2px 10px;
}
@media(max-width:980px){
    .text1{
        font-size: 6rem;
    }
    #head1{
        font-size: 3rem;
        margin-bottom: 3rem;

    }
    .bg span{
        font-size:2rem;
    }
    .para{
        font-size: 0.9rem;
    }
}
@media(max-width:600px){
    .text1{
        font-size:3rem;
    }
    .bg span{
        font-size: 2rem;
        transform: translateX(-20%);
    }
    .para{
        font-size: 0.7rem;
    }

}
